<div>
    <div class="title">Хорошая альтернатива VPN</div>
    <p>
        Зачастую VPN перестает работать без всякой на то причины, но это только на первый
        взгляд, на самом же неделе причин может быть несколько. Самая распростарненная - блокировка протокола, который
        может использовать ваше приложение, самые распространенные на сегодняшний день: WireGuard, Lightway, IKEv2 и
        конечно же OpenVPN. У всех вышеперечисленных VPN-протоколов есть один недостаок, провайдер без проблем может
        видеть, что используется тот или иной протокол, у каждого из них есть свой уникальный отпечаток (fingerprint).
        Те если потребуется, то провайдер настроит свое оборудование на блокировку того или иного протокола.
    </p>
    <p>
        На этом сайте написана небольшая инструкция, которая предалгает альтернативу. Не буду вдаваться в подробности, но если вкратце, то
        получилось следующая история: мы настроили прокси-сервер с современными протоколами для обхода блокировок (Shadowsocks-22 и VLESS).
    </p>
</div>
