.header {
    //display: flex;
    //justify-content: space-between;
    &__aside {
        margin-bottom: 16px;
    }
    &__title {
        font-weight: 500;
    }
    &__button {
        margin-bottom: 8px;
        font-weight: 400;
    }
    &__navigation {
        display: flex;
        flex-direction: column;
    }
}
